<div class="container">
    <ng-container >
       <div class="row">
         <div class="col my-4">
           <table class="table">
             <thead class="table-dark">
             <tr class="text-center">
               <th>Product</th>
               <th>Title</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Subtotal</th>
             </tr>
             </thead>
             <tbody class="tbody">
             <tr>
               <td class="d-flex align-items-center justify-content-around" >
                 <img src="/assets/img/p.image.png" alt="" height="60" class="order-1">
                 <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash" ></i></span>
               </td>
               <td><p>Laptop</p></td>
               <td>
                 <p>k 254 </p>
               </td>
               <td>
                   
                 <form>
                   <button type="button" >
                     <i class="fa fa-minus"></i>
                   </button>
                   <input type="number" id="number" />
                   <button type="button">
                     <i class="fa fa-plus"></i>
                   </button>
                 </form>
               </td>
               <td>
                   <p> K 254 </p>
               </td>
             </tr>
   
             <tr>
               <td class="d-flex align-items-center justify-content-around" >
                 <img src="/assets/img/p.image.png" alt="" height="60" class="order-1">
                 <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"></i></span>
               </td>
               <td><p>Laptop</p></td>
               <td>
                   <p>k 254 </p>
               </td>
               <td>
                   
                 <form>
                   <button type="button" >
                     <i class="fa fa-minus"></i>
                   </button>
                   <input type="number" id="number" />
                   <button type="button">
                     <i class="fa fa-plus"></i>
                   </button>
                 </form>
               </td>
               <td>
                   <p> K 254 </p>
               </td>
             </tr>
   
             <tr>
               <td class="d-flex align-items-center justify-content-around" >
                 <img src="/assets/img/p.image.png" alt="" height="60" class="order-1">
                 <span class="text-danger" style="cursor: pointer;"><i class="fa fa-trash"></i></span>
               </td>
               <td><p>Laptop</p></td>
               <td>
                   <p>k 254 </p>
               </td>
               <td>
                   
                 <form>
                   <button type="button" >
                     <i class="fa fa-minus"></i>
                   </button>
                   <input type="number" id="number"/>
                   <button type="button">
                     <i class="fa fa-plus"></i>
                   </button>
                 </form>
               </td>
               <td>
                 <p> K 254 </p>
               </td>
             </tr>
   
             <tr class="border-0">
               <td style="border: none;"></td>
               <td></td>
               <td></td>
               <td>TOTAL</td>
               <td>K 245 </td>
             </tr>
   
             </tbody>
           </table>
   
   
         </div>
   
         <div class="col-md-12 d-flex mb-5">
           <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
             <a routerLink="/check-out" class="btn btn-danger btn-sm order-1">Checkout</a>
             <a href="#" class="btn btn-success btn-sm order-0">Continue Shopping</a>
           </div>
         </div>
   
       </div>
     </ng-container>
   </div>
