<div class="section">

    <!-- container -->
    <div class="container">


        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">All Categories</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">

                    <div class="card my-2">
                        <div class="card-header">
                            <div class="card-title">
                                <p>ELECTRONICS</p>
                            </div>
                        </div>
                        <img src="/assets/img/p.image.png" alt="p.name" width="200px" class="card-img-top"
                            style="cursor:pointer;">

                        <div class="row d-flex justify-content-center border-primary my-3">
                            <div class="col-md-6 ">
                                <button class="btn btn-outline-primary btn-sm btn-block"> <i class="fa fa-eye "
                                        routerLink="/electronics"> View
                                        category</i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="card my-2">
                        <div class="card-header">
                            <div class="card-title">
                                <p>FASHION</p>
                            </div>
                        </div>
                        <img src="/assets/img/men.jpg" routerLink="/single-product" alt="p.name" width="200px"
                            class="card-img-top" style="cursor:pointer;">

                        <div class="row d-flex justify-content-center border-primary my-3">
                            <div class="col-md-6 ">
                                <button class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-eye ">
                                        View
                                        category</i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="col-md-4 col-sm-6">

                    <div class="card my-2">
                        <div class="card-header">
                            <div class="card-title">
                                <p>MOTORS</p>
                            </div>
                        </div>
                        <img src="/assets/img/Bluetooth-Earphone.jpg" routerLink="/single-product" alt="p.name"
                            width="200px" class="card-img-top" style="cursor:pointer;">

                        <div class="row d-flex justify-content-center border-primary my-3">
                            <div class="col-md-6 ">
                                <button class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-eye ">
                                        View
                                        category</i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="card my-2">
                        <div class="card-header">
                            <div class="card-title">
                                <p>SPORTING GOODS</p>
                            </div>
                        </div>
                        <img src="/assets/img/p.image.png" alt="p.name" width="200px" class="card-img-top"
                            style="cursor:pointer;">

                        <div class="row d-flex justify-content-center border-primary my-3">
                            <div class="col-md-6 ">
                                <button class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-eye "
                                        routerLink="/sporting-goods"> View
                                        category</i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-md-4 col-sm-6">

                    <div class="card my-2">
                        <div class="card-header">
                            <div class="card-title">
                                <p>Laptop</p>
                            </div>
                        </div>
                        <img src="/assets/img/p.image.png" routerLink="/single-product" alt="p.name" width="200px"
                            class="card-img-top" style="cursor:pointer;">

                        <div class="row d-flex justify-content-center border-primary my-3">
                            <div class="col-md-6 ">
                                <button class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-eye ">
                                        View
                                        category</i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4 col-sm-6">

                    <div class="card my-2">
                        <div class="card-header">
                            <div class="card-title">
                                <p>Laptop</p>
                            </div>
                        </div>
                        <img src="/assets/img/p.image.png" routerLink="/single-product" alt="p.name" width="200px"
                            class="card-img-top" style="cursor:pointer;">

                        <div class="row d-flex justify-content-center border-primary my-3">
                            <div class="col-md-6 ">
                                <button class="btn btn-outline-primary btn-sm btn-block"><i class="fa fa-eye ">
                                        View
                                        category</i>
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </div>
</div>
